html{
    min-height: 100%;
}

.bg-user {
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027) fixed;
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027) fixed;
}
.custom-bg{
    background-color: #87bbba;
}
.custom-border{
    border: 2px solid black !important;
    /* border-radius: 15px !important; */
}
*{
    box-sizing: border-box;
}

.input-field::placeholder{
    color: white !important;
}